# Data Loading and libary

In [1]:
import pandas as pd

In [4]:
data=pd.read_csv('garments_worker_productivity.csv')
df=pd.DataFrame(data)

##1 date : Date in MM-DD-YYYY
02 day : Day of the Week
03 quarter : A portion of the month. A month was divided into four quarters
04 department : Associated department with the instance
05 team_no : Associated team number with the instance
06 no_of_workers : Number of workers in each team
07 no_of_style_change : Number of changes in the style of a particular product
08 targeted_productivity : Targeted productivity set by the Authority for each team for each day.
09 smv : Standard Minute Value, it is the allocated time for a task
10 wip : Work in progress. Includes the number of unfinished items for products
11 over_time : Represents the amount of overtime by each team in minutes
12 incentive : Represents the amount of financial incentive (in BDT) that enables or motivates a particular course of action.
13 idle_time : The amount of time when the production was interrupted due to several reasons
14 idle_men : The number of workers who were idle due to production interruption
15 actual_productivity : The actual % of productivity that was delivered by the workers. It ranges from 0-1.

## describing data and data aexploration"

In [5]:
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    691 non-null    float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_style_change     1197 non-null   int64
 13  no_of_workers          1197 non-null   float64
 14  actual_productivity    1197 non-null   float64
dtypes: float64(6), int64(5), object(4)
memory usage: 140.4+ KB

In [12]:
    df.describe().round(2)

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
count,1197.00,1197.00,1197.00,691.00,1197.00,1197.00,1197.00,1197.00,1197.00,1197.00,1197.00
mean,6.43,0.73,15.06,1190.47,4567.46,38.21,0.73,0.37,0.15,34.61,0.74
std,3.46,0.10,10.94,1837.46,3348.82,160.18,12.71,3.27,0.43,22.20,0.17
min,1.00,0.07,2.90,7.00,0.00,0.00,0.00,0.00,0.00,2.00,0.23
25%,3.00,0.70,3.94,774.50,1440.00,0.00,0.00,0.00,0.00,9.00,0.65
50%,6.00,0.75,15.26,1039.00,3960.00,0.00,0.00,0.00,0.00,34.00,0.77
75%,9.00,0.80,24.26,1252.50,6960.00,50.00,0.00,0.00,0.00,57.00,0.85
max,12.00,0.80,54.56,23122.00,25920.00,3600.00,300.00,45.00,2.00,89.00,1.12

In [10]:
df.describe(include=object)

             date   quarter department        day
count        1197      1197       1197       1197
unique         59         5          3          6
top     1/31/2015  Quarter1     sweing  Wednesday
freq           24       360        691        208

In [13]:
df.duplicated().sum()

np.int64(0)

In [16]:
df.isna().mean().round(4)*100

date                      0.00
quarter                   0.00
department                0.00
day                       0.00
team                      0.00
targeted_productivity     0.00
smv                       0.00
wip                      42.27
over_time                 0.00
incentive                 0.00
idle_time                 0.00
idle_men                  0.00
no_of_style_change        0.00
no_of_workers             0.00
actual_productivity       0.00
dtype: float64